// Place all the styles related to the Couriers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_cour {
  position: absolute;
  width: 610px;
  height: 622px;
  left: 20px;
  top: 10px;
}
.photo{
  position: absolute;
  width: 2125px;
  height: 5425px;
  left: 180px;
  top: 67px;
  background-color: #ffffff;
  border-radius: 100%;
}